
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Administrator";
}
<!-- Content -->
<div id="content" class="ml-5">
    <div class="container-fluid">
        <h1>Giao Diện Quản Lý</h1>
        <p>
            Chào mừng bạn đến với giao diện quản lý !
        </p>
    </div>
</div>

