@model Account
@{
    ViewData["Title"] = "Change";
}
<h1>Đổi mật khẩu</h1>
<div asp-validation-summary="All"></div>
<form method="post">
    <table>
        @*<tr>
                <td>
                    <input type="hidden" name="Id" value="Id" />
                </td>
            </tr>*@
        <tr>
            <td>Username</td>
            <td>
                <input type="text" name="Username" value="@User.Identity.Name" />
            </td>
        </tr>
        <tr>
            <td>Mật khẩu cũ</td>
            <td>
                <input type="password" name="OldPassword" />
            </td>
        </tr>
        <tr>
            <td>Mật khẩu mới</td>
            <td>
                <input type="password" name="Password" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="Email" value="@User.Identity.Name" />
            </td>
        </tr>
        <tr>
            <td>
                <button>Change Password</button>
            </td>
        </tr>
    </table>
</form>

