body {
    background-image: url("/Images/backgroudsports.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    box-sizing: border-box;
    width: 300px;
    /*cach tren 50px*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 20px 0;
    border-radius: 3px;
    margin: 50px auto;
}

    form td:first-child {
        text-align: left;
    }

    form tr {
        height: 40px;
    }

    form td:last-child input {
        width: 205px;
    }

    form h1 {
        box-sizing: border-box;
        padding: 20px;
    }

    form label {
        margin-left: 25px;
        margin-right: 10px;
    }

.input input {
    margin: 25px 25px;
    width: 250px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -250px 0;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}

    .input input:focus,
    input:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
    }

        .input input:focus::-webkit-input-placeholder,
        input:valid::-webkit-input-placeholder {
            color: #1abc9c;
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }

button {
    margin: 25px 25px;
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 240px;
    color: white;
    margin-left: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

    button:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    }

span {
    margin: 25px 25px;
}
